In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("Insurance.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':("squared_error","absolute_error","friedman_mse","poisson"),'max_depth':(10,100,150,200),'max_features':("sqrt","log2")}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,y_train)
re=grid.cv_results_

Fitting 5 folds for each of 32 candidates, totalling 160 fits

In [10]:
y_pred=grid.predict(X_test)
from sklearn.metrics import r2_score
r2score=r2_score(y_test,y_pred)

In [11]:
print("The R_score value for best parameters():",format(grid.best_params_),r2score)

The R_score value for best parameters(): {'criterion': 'poisson', 'max_depth': 10, 'max_features': 'sqrt'} 0.7589628919039468

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006454,0.003675,0.002015,0.003114,squared_error,10,sqrt,"{'criterion': 'squared_error', 'max_depth': 10...",0.798021,0.646208,0.377316,0.612326,0.627311,0.612236,0.134970,22
1,0.006048,0.004939,0.004038,0.004945,squared_error,10,log2,"{'criterion': 'squared_error', 'max_depth': 10...",0.790688,0.621812,0.528588,0.615122,0.549568,0.621156,0.092165,18
2,0.006451,0.003678,0.003623,0.003677,squared_error,100,sqrt,"{'criterion': 'squared_error', 'max_depth': 10...",0.715880,0.639829,0.703516,0.582430,0.677118,0.663755,0.048296,10
3,0.006044,0.004222,0.005643,0.003899,squared_error,100,log2,"{'criterion': 'squared_error', 'max_depth': 10...",0.722134,0.665389,0.574202,0.590406,0.192404,0.548907,0.186028,31
4,0.008051,0.003112,0.002012,0.003109,squared_error,150,sqrt,"{'criterion': 'squared_error', 'max_depth': 15...",0.497055,0.578041,0.574751,0.641235,0.636848,0.585586,0.052415,27
5,0.008061,0.004030,0.001608,0.003215,squared_error,150,log2,"{'criterion': 'squared_error', 'max_depth': 15...",0.616439,0.536958,0.703297,0.488259,0.610126,0.591016,0.073620,25
6,0.007647,0.006408,0.004435,0.003899,squared_error,200,sqrt,"{'criterion': 'squared_error', 'max_depth': 20...",0.683345,0.638180,0.654403,0.394032,0.652000,0.604392,0.106202,24
7,0.005248,0.003935,0.001607,0.003214,squared_error,200,log2,"{'criterion': 'squared_error', 'max_depth': 20...",0.711595,0.530647,0.705132,0.622412,0.503183,0.614594,0.086171,21
8,0.019735,0.000817,0.000810,0.000992,absolute_error,10,sqrt,"{'criterion': 'absolute_error', 'max_depth': 1...",0.817656,0.686333,0.719486,0.631085,0.673860,0.705684,0.062738,2
9,0.023754,0.004495,0.004433,0.006892,absolute_error,10,log2,"{'criterion': 'absolute_error', 'max_depth': 1...",0.840741,0.603570,0.668612,0.634739,0.697083,0.688949,0.082157,4
10,0.020554,0.005754,0.003626,0.004486,absolute_error,100,sqrt,"{'criterion': 'absolute_error', 'max_depth': 1...",0.706765,0.594585,0.662897,0.654102,0.665604,0.656791,0.036025,11
11,0.018129,0.003117,0.003624,0.003684,absolute_error,100,log2,"{'criterion': 'absolute_error', 'max_depth': 1...",0.722458,0.657682,0.643378,0.606099,0.610697,0.648063,0.041968,13
12,0.020136,0.005082,0.003624,0.003687,absolute_error,150,sqrt,"{'criterion': 'absolute_error', 'max_depth': 1...",0.715772,0.675416,0.614475,0.546673,0.646684,0.639804,0.057274,15
13,0.020524,0.000812,0.000811,0.000993,absolute_error,150,log2,"{'criterion': 'absolute_error', 'max_depth': 1...",0.659679,0.643385,0.611300,0.573610,0.323632,0.562321,0.122922,29
14,0.022124,0.003115,0.002016,0.003120,absolute_error,200,sqrt,"{'criterion': 'absolute_error', 'max_depth': 2...",0.679211,0.673265,0.688790,0.648799,0.647678,0.667549,0.016530,9
15,0.018905,0.003502,0.002014,0.004028,absolute_error,200,log2,"{'criterion': 'absolute_error', 'max_depth': 2...",0.693448,0.550574,0.601653,0.499666,0.590517,0.587172,0.064050,26
16,0.004825,0.003940,0.005244,0.003933,friedman_mse,10,sqrt,"{'criterion': 'friedman_mse', 'max_depth': 10,...",0.771199,0.706234,0.736130,0.615274,0.639767,0.693720,0.058349,3
17,0.006435,0.003218,0.003642,0.003217,friedman_mse,10,log2,"{'criterion': 'friedman_mse', 'max_depth': 10,...",0.712026,0.644372,0.725627,0.597767,0.675780,0.671114,0.046394,7
18,0.007655,0.002956,0.000814,0.000996,friedman_mse,100,sqrt,"{'criterion': 'friedman_mse', 'max_depth': 100...",0.753423,0.542891,0.750980,0.669246,0.550310,0.653370,0.092323,12
19,0.008853,0.005171,0.003237,0.002412,friedman_mse,100,log2,"{'criterion': 'friedman_mse', 'max_depth': 100...",0.692461,0.695643,0.676898,0.620246,0.660618,0.669173,0.027458,8
20,0.010078,0.000011,0.000000,0.000000,friedman_mse,150,sqrt,"{'criterion': 'friedman_mse', 'max_depth': 150...",0.748658,0.550136,0.695615,0.485139,0.612670,0.618444,0.095269,20
21,0.004842,0.004333,0.003625,0.004484,friedman_mse,150,log2,"{'criterion': 'friedman_mse', 'max_depth': 150...",0.707354,0.631764,0.671942,0.424859,0.666872,0.620558,0.100740,19
22,0.009670,0.000816,0.000407,0.000813,friedman_mse,200,sqrt,"{'criterion': 'friedman_mse', 'max_depth': 200...",0.723129,0.662345,0.678262,0.674048,0.647785,0.677114,0.025324,6
23,0.001219,0.000996,0.005639,0.004665,friedman_mse,200,log2,"{'criterion': 'friedman_mse', 'max_depth': 200...",0.558585,0.527129,0.563663,0.620523,0.645950,0.583170,0.043502,28
24,0.003623,0.003685,0.006445,0.003678,poisson,10,sqrt,"{'criterion': 'poisson', 'max_depth': 10, 'max...",0.772654,0.675359,0.687799,0.757913,0.719212,0.722587,0.037965,1
25,0.005637,0.004662,0.004031,0.004222,poisson,10,log2,"{'criterion': 'poisson', 'max_depth': 10, 'max...",0.750111,0.656815,0.675639,0.655604,0.664458,0.680525,0.035518,5
26,0.009664,0.000808,0.002015,0.003113,poisson,100,sqrt,"{'criterion': 'poisson', 'max_depth': 100, 'ma...",0.669378,0.481894,0.653396,0.363765,0.616979,0.557082,0.117046,30
27,0.008463,0.003213,0.001610,0.003220,poisson,100,log2,"{'criterion': 'poisson', 'max_depth': 100, 'ma...",0.721166,0.623582,0.568453,0.451995,0.680170,0.609073,0.093972,23
28,0.007659,0.003911,0.002015,0.003117,poisson,150,sqrt,"{'criterion': 'poisson', 'max_depth': 150, 'ma...",0.669944,0.566582,0.485142,0.429543,0.427124,0.515667,0.092285,32
29,0.006449,0.003685,0.004030,0.004221,poisson,150,log2,"{'criterion': 'poisson', 'max_depth': 150, 'ma...",0.750649,0.607876,0.655058,0.541417,0.659843,0.642969,0.068659,14
30,0.004436,0.003902,0.004027,0.004222,poisson,200,sqrt,"{'criterion': 'poisson', 'max_depth': 200, 'ma...",0.756953,0.631422,0.627140,0.619622,0.551388,0.637305,0.066555,17
31,0.009663,0.000804,0.002012,0.003109,poisson,200,log2,"{'criterion': 'poisson', 'max_depth': 200, 'ma...",0.710876,0.624969,0.510439,0.693713,0.651333,0.638266,0.070758,16

In [14]:
import pickle
filename="finale_gridsearch_rfr.sav"
pickle.dump(grid,open(filename,"wb"))
load_model=pickle.load(open("finale_gridsearch_rfr.sav","rb"))
result=load_model.predict([[25,55.894,5,0,0]])
result

array([16085.1275])